{% extends "base.html" %}

{% block content %}
<h1 style="text-align:center">Cheese Storage Hub 🧀</h1>
<table style="text-align:left; margin-left:auto; margin-right:auto; border: 1px solid black">
    <tr>
        <th style="border: 2px solid black">Name</th>
        <th style="border: 2px solid black">Size</th>
        <th style="border: 2px solid black">Stored Since</th>
    </tr>
    {% for cheese in cheese_list %}
        <tr>
            <td style="border: 1px solid black">{{ cheese.name }}</td>
            <td style="border: 1px solid black">{{ cheese.size }}</td>
            <td style="border: 1px solid black">{{ cheese.stored_since}}</td>
        </tr>
    {% endfor %}
</table>
<br/>
<div class="pagination" style="text-align:center">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}
